.env
.env.ci
__pycache__/
*.pyc
uploads/
vector_db/
downloades/
*.wav
*.mp3
*.mp4
.vscode/
.idea/
cookies*

# Virtual environments
venv/
.venv/

# Testing & Coverage
.pytest_cache/
htmlcov/
.coverage
test-results.xml